#grid {
    background-color: dimgray;
    flex-direction: row;
    display: inline-flex;
    margin: 1em;
}
#palette {
    background-color: White;
    flex-direction: column;
    display: inline-flex;
    float: right;
    margin: 3em;
}
#current-color-panel {
    background-color: inherit;
    flex-direction: row;
    display: inline-flex;
    height: 30px;
}
#colors {
    display: inline-flex;
    flex-direction: row;
    background-color: inherit;
}
#current-color {
    background-color: brown;
    margin-left: 5px;
    width: 30px;
    height: 25px;
    color: black;
}

.cell {
    margin: 1px;
    padding: 0;
    width: 30px;
    height: 25px;
    background-color: lavender;
    color: black;
}

.color {
    margin: 1px;
    padding: 0;
    width: 30px;
    height: 25px;
    color: black;
    border: 1px solid;
    border-radius: 16px;
}

#color-black {
    background-color: black;
}
#color-blue {
    background-color: blue;
}
#color-red {
    background-color: red;
}
